@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    font-family: "Roboto", sans-serif;
    background-color: #f2f2f2;
    height: 100%;
}

img {
    max-width: 100px;
}

.main-head {
    /*display: flex;*/
    grid-area: header;
    background-color: #66B6ED;
}

.content {
    grid-area: content;
    background-color: #FFFFFF;
}

/*.main-nav {*/
/*    grid-area: nav;*/
/*    background-color: #155724;*/
/*    color: #f7f7f7;*/
/*}*/

.side {
    grid-area: sidebar;
    background-color: #3597DC;
}

.main-footer {
    grid-area: footer;
    background-color: #115B8F;
    color: #ffffff;
}

.wrapper {
    display: grid;
    height: 100vh;
    /*margin: 0;*/
    /*grid-gap: 5px;*/
    grid-template-areas:
            "header"
                /*"nav"*/
            "sidebar"
            "content"
            "footer";
}

ul {
    list-style-type: none;
}

button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0;
    background: #3597DC;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    cursor: pointer;
}

button:hover, button:active, button:focus {
    background: #8AC4ED;
    color: #000000;
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
                "header   header"
                    /*"nav         nav"*/
                "sidebar content"
                "footer   footer";
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 700px) {
    .wrapper {
        /*grid-template-columns: 1fr 4fr 1fr;*/
        height: 100vh;
        grid-template-columns: repeat(5, [col-start] 2fr);
        grid-template-rows: repeat(6, [row-start] 2fr);
        grid-template-areas:
                "header header  header header header"
                "sidebar    content content content content"
                "sidebar    content content content content"
                "sidebar    content content content content"
                "sidebar    content content content content"
                "footer footer  footer footer footer";
    }
    nav ul {
        flex-direction: column;
    }
}