@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background: #3598dc;
}

.container {
  position: relative;
  width: 25%;
  /*height: 400px;*/
  height: 100%;
  padding: 10px 25px;
  margin: 5vh auto;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  /*border-radius: 8px;*/
}

.form {
  width: 100%;
  height: 100%;
}

#passwd, #repeat_passwd, #email, #fname, #lname,
#phone, #code_entered {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

h1, h2, .user, .pass {
  text-align: center;
  display: block;
}

h1 {
  color: #606060;
  font-weight: bold;
  font-size: 40px;
  margin: 30px auto;
}

.user, .pass, .login {
  width: 100%;
  height: 45px;
  border: none;
  /*border-radius: 5px;*/
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 30px;
}

.user, .pass {
  background: #ecf0f1;
}

.login {
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: #3598dc;
  transition: background 0.4s ease;
}

.login:hover {
  background: #3570dc;
}

@media only screen and (min-width : 280px) {
  .container {
    width: 90%
  }
}

@media only screen and (min-width : 480px) {
  .container {
    width: 60%;
  }
}

@media only screen and (min-width : 768px) {
  .container {
    width: 40%
  }
}

@media only screen and (min-width : 992px) {
  .container {
    width: 30%
  }
}

h2 {
  color: #fff;
  margin-top: 25px;
}

#warning {
  color: #FF0000;
}


