<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {% if user %}
        Welcome, {{ user["name"] }}
    {% else %}
        IASA Distance Learning
    {% endif %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% if style == "start" %}
        <link href="/static/css/login.css" rel="stylesheet">
    {% else %}
        <link href="/static/css/home.css" rel="stylesheet">
    {% endif %}
    {% block script %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>