{% extends "base.html" %}
{% block script %}
{% endblock %}
{% block content %}
    <div class="login-page">
        <div class="form">
            <form action="" method="post" name="login" class="login-form">
                <h3>Verification e-mail has been sent to {{ email }}</h3>
                    {{ form.hidden_tag() }}
                    {{ form.code_entered() }}
                <input id="submit" type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}