{% extends "base.html" %}
{% block script %}
{% endblock %}
{% block content %}
	<div class="login-page">
        <div class="form">
            <h3>Something went wrong.</h3>
            <button onclick="location.href='/login'">Try again</button>
        </div>
    </div>
{% endblock %}