{% extends "base.html" %}
{% block script %}
{% endblock %}
{% block content %}

<div class="container">
    <div class="wrapper">
        <header class="main-head">
            <h3> Welcome, {{ title }} {{ user["name"] }} </h3>
            <a href="/home" src="/static/img/logo.png" width="100" height="100"></a>
            <img src="/static/img/logo.png" alt="" onclick="window.open('/home')">
            <button onclick="location.href='/logout'">
                Log out
            </button>
         </header>
        <article class="content">
            <h1>Main content area</h1>
            <p>
                CONTENT
            </p>
        </article>
        <aside class="side">
            <h2>MENU</h2>
            <button onclick="location.href=/courses">
                Courses
            </button>
            <br>
            <button onclick="location.href=/groups">
                Groups
            </button>
            <br>
            <button onclick="location.href=/messages">
                Messages
            </button>
            <br>
        </aside>
        <footer class="main-footer">
            FOOTER
        </footer>
    </div>
</div>
{% endblock %}