@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background-color: #F2F2F2;
}

header {
    grid-column: span 12;
}

aside {
    grid-column: span 2;
    background-color: #94D799;
}

main {
    grid-column: span 10;
    background-color: #FFFFFF;
}

footer {
    grid-column: span 12;
    background-color: #19721F;
}

header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 2fr 1fr;
    background-color: #7CD782;
}

header > div:nth-child(4) {
    grid-column: 10;
}

header h1 {
    font-family: "Roboto", sans-serif;
    color: #4C834F;
    grid-column: 1 / span 12;
    grid-row: 1 / 2;
}

header div.row_2 {
    grid-row: 2;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 50px 350px 50px;
	font-family: "Roboto", sans-serif;
}

.container button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.7 ease;
  -o-transition: all 0.7 ease;
  transition: all 0.7 ease;
  cursor: pointer;
}

.container button:hover, button:active, button:focus {
	background: #43A047;
}



