{% extends "base.html" %}
{% block script %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<script src="/static/js/wrong_passwd.js"></script>
{% endif %}
{% endwith %}
{% endblock %}J
{% block content %}
<div class="container">
    <div class="form">
        <form action="" method="post" name="login">
            <h1>Login</h1>
            {{ form.hidden_tag() }}
            {{ form.email(placeholder="E-mail", autofocus="autofocus") }}
            {{ form.passwd(placeholder="Password") }}
            <div id="warning"></div>
            <p class="message">I'm a tutor
                <label class="switch">
                    {{ form.is_student() }}
                    <span class="slider round"></span>
                </label> I'm a student
            </p>
            <input id="submit" type="submit" class="login" value="Sign In">
            {{ form.remember_me() }} Remember me
            <p class="message">Not registered? <a href="/signup">Create an account</a></p>
        </form>
    </div>

</div>
{% endblock %}