{% extends "base.html" %}
{% block script %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script src="/static/js/already_registered.js"></script>
        {% endif %}
    {% endwith %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="form">
        <form action="" method="post" name="registration" class="login-form">
            <h1>Sign up</h1>
            {{ form.hidden_tag() }}
            {{ form.fname(placeholder="First name", autofocus="autofocus") }}
            {{ form.lname(placeholder="Last name") }}
            {{ form.email(placeholder="E-mail") }}
            {{ form.phone(placeholder="Phone number") }}
            Date of birth {{ form.date_of_birth(min=max_years, max=min_years) }}
            <br>
            {% for subfield in form.user_type %}
                {{ subfield }}
                {{ subfield.label }}
                <br>
            {% endfor %}
            {{ form.passwd(placeholder="Password") }}
            {{ form.repeat_passwd(placeholder="Repeat password") }}
            <div id="warning"></div>
            {{ form.remember_me() }} Remember me
            <br>
                <input class="login" type="submit" value="Sign Up">
            <p class="message">Already have an account? <a href="/login">Log in</a></p>
        </form>
    </div>
</div>
{% endblock %}
